.header{
    &-wrap{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        //margin: 0px auto;
        width:100%;
        padding-top: 20px;
        @media (min-width:910px) {
            flex-direction: row;
        }
    }
    &-img{
        max-width: 210px;
    }
    &-phones{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        @media (max-width:767px){
            display: none;
        }
    }
    &-phone{
        color: var(--white-color);
        font-family: Oswald;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;    
        letter-spacing: 0.04em;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
    }
    &-list{
        display: flex;
        @media (max-width:767px){
            display: none;
        }
        
        &-item{
            list-style-type: none; 
            margin-right: 20px;
            color: var(--white-color);
            font-family: 'Oswald';
            font-weight: 600;
            line-height: 64px;
            font-size: 17px;
            text-decoration: none;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            &:hover{
                color:var(--red-color);
                text-decoration: underline;
            }
        }

    }
}
a:active{

        color:var(--red-color);
        text-decoration: underline;

}
