:root{
--main-color: #201D1D;
--white-color: #FFFFFF;
--red-color: #DF2024;
--grey-color:#969696;
--header-margin: 33px;
--mobile:calc((100vw - 344px)/2);
--planshet: calc((100vw - 728px)/2);
--iphone: calc((100vw - 310px)/2);
}