@import './fonts.scss';
@import './variables.scss';

body{
  font-family: 'PT Sans Narrow','Oswald';
  padding:0px;
  margin: 0px;
  display: block;
}

h2{
  text-align: left;
  font-family: PT Sans Narrow;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 64px;
letter-spacing: 0.04em;
text-transform: uppercase;
margin: 0px;
@media (max-width:767px){
  text-align: center;
}
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  @media (max-width:767px) {
    max-width: 344px;
  }
}
.container.first-position{
  @media (max-width:767px){
    margin:0;
    padding-left: calc((100% - 344px)/2);
  }
}
