.contacts{

    background: #F3F3F3;
    &-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 90px 0 90px 0;
        @media (max-width:767px){
            flex-direction: column;
            padding: 0 var(--mobile);
        }
    }
    &-map{
        width: 684px;
        height: 320px;
        border: 1px solid var(--grey-color);
        @media (max-width:767px){
            width: 344px;
        }
    }
    &-tel{
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.04em;
        color: var(--grey-color);
        display: flex;
        align-items: center;
        margin: 20px 0;
        @media (max-width:767px){
            font-size: 24px;
        }
        
    }
    &-img{
        margin-right: 20px;
    }
    &-header{
        margin-bottom: 65px;
    }

}